# This is the list of reviewers to approve any thing in this repo

* @suraywanshi-rakesh

# what if i, like to approve only json 

*.js @suraywanshi-rakesh

#what if target spec folder

/docs/* @suraywanshi-rakesh
